
.welcome{
    height: 90px;
    background-color: #CBDFE0;
}
.welcome h1{
    margin-left: 20px;
}
.welcome h4{
    margin-right: 20px;
    text-align: right;
}
.welcome a{
    margin-right: 20px;
    text-align: right;
}
.container h4{
    text-align: right;  
}
.btn{
    background-color: #93C3C7;
}
.btn:hover{
    background-color: #669599;
}